body{
    font-family: 'Kaushan Script', cursive;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #ff8c00;
  background: #fff;
}
.caja-central {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.caja-central{
    margin-top: 10%;
    width: 50%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    overflow: hidden;
    height: 50%;
    background-color: #ff8c00; 
}

.caja-cara{
    
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        background-color: #ff8c00;
}
.cara{
    border-radius: 450px;
    height: 250px;
}

#nombre {
    font-size: 3.3em;
    transform: rotate(-8deg);
    margin: 10px 0;
}

#profesion {
    font-family: 'Space Mono', monospace;
    color: #303030;
    font-size: 1.23em;
    color:blanchedalmond;
    margin: 10px 0;
    text-align: center;
    margin-bottom: 10px;
    
}


    .uno {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 15px);
        background-color: #ff8c00;
        color: white;
    }

.dos{
   
    background-color: #F2F2F2;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #303030;
    padding-left: 20%;
    padding-right: 20%;
}
.tres {
    background-color: #fcfcfc;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #303030;
    padding-left: 20%;
    padding-right: 20%;
}
.cuatro{
   
    background-color: #F2F2F2;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #303030;
    padding-left: 20%;
    padding-right: 20%;
}
.aptitudes{
    margin-top: 10%;
    width: 50%;
    display: flex;
}
.tech-list {
    display: flex;
    justify-content: space-between;
    margin-left: -205px;
    padding-top: 15px;
    align-items: center;
}

.tech {
    height: 80px;
    margin-left: 60px;
}
.contacto img {

    justify-content: center;
    width: 45px; 
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

.contacto{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#sobreMi{
    font-family: 'Kaushan Script', cursive;
    font-size: 2.5em;
    color: #303030;
    margin-top: -50px;
    text-align: center;
}

#descripcionSobreMi{
    margin-bottom: 0px;
    font-family: 'Space Mono', monospace;
    font-size: 1.23em;
    color: #303030;
    text-align: center;  
}
#Aptitudes{
    font-family: 'Kaushan Script', cursive;
    font-size: 2.5em;
    color: #303030;
    text-align: center;
}
#descripcionAptitudes{
    margin-top: -10px;
    font-family: 'Space Mono', monospace;
    font-size: 1.23em;
    color: #303030;
    text-align: center;
}
#Cursos{
    margin-top: 30px;
    font-family: 'Kaushan Script', cursive;
    font-size: 2.5em;
    color: #303030;
    text-align: center;
}
#listaCursos{
    margin-top: -10px;
    font-family: 'Space Mono', monospace;
    font-size: 1em;
    color: #303030;
    text-align: left;
}


#Proyectos {
    margin-top: 20px;
    font-family: 'Kaushan Script', cursive;
    font-size: 2.5em;
    color: #303030;
    text-align: center;
}

.proyectos {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.card {
    text-align: center;
    width: 48%; /* Ajusta este valor según sea necesario */
    border: solid #F2F2F2 1px;
    border-radius: 10px;
    padding: 10px;
}

.card .proyecto-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.card img {
   
    width: 80%; /* Ajusta este valor según sea necesario */
    height: auto;
    width: 100%; /* Ajusta este valor según sea necesario */
   
}

#txtProyecto {
    font-family: 'Space Mono', monospace;
    font-size: 1em;
    color: #303030;
    text-align: center;
}
@media (max-width: 1000px) {
    .caja-central {
        width: 90%;
        height: auto; /* Cambiado de 70% a auto */
        flex-direction: column;
    }

    #nombre {
        text-align: center;
    }

    .caja-cara {
        width: 100%;
        height: auto; /* Cambiado de 50% a auto */
        align-items: center;
    }

    #sobreMi {
        margin-top: 10%;
    }

    .tech-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-left: 0;
    }

    .tech {
        height: 80px;
        margin: 5px;
        align-items: center;
        margin-left: 10px;
    }
    .caja-presentacion {
        width: 100%;
        height: auto; /* Cambiado de 50% a auto */
        align-items: center; /* Cambiado de flex-start a center */
    }

    .aptitudes {
        width: 100%; /* Cambiado de auto a 100% */
    }

    .dos {
        height: auto;
        padding: 0 10px; /* Ajustado el padding */
    }

    .tres {
        height: auto;
    }

    .cuatro {
        height: auto;
    }

    .proyectos {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-around; /* Cambiado a space-around */
        padding-bottom: 20px;
    }

    .card {
        width: 100%; /* Cambiado de 80% a 100% */
        margin-top: 20px;
    }
}

@media (max-width: 800px) {
    .tech-list {
        padding: 10px; /* Añadido espaciado interno para mejorar la legibilidad en pantallas pequeñas */
        align-items: center;
        margin-left: 10px;
    }

    .tech {
        height: 60px; /* Ajustado el tamaño para pantallas más pequeñas */
        align-items:center;
    }
}